<!DOCTYPE html>
<html>
  <head>
    <title>Flight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', '/stylesheets/flight.css' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
      <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <p>Navin's Flight</p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li>
            <% if current_user %>
            Logged in as <strong><%= current_user.email %></strong> |
            <%= link_to "Logout", logout_path, :class => 'navbar-link' %> |
            <%#= link_to "Suggestion", users_path, :class => 'navbar-link' %>
            <% else %>
            <%= link_to "Login", login_path, :class => 'navbar-link' %> |
            <%= link_to "Sign Up", new_user_path, :class => 'navbar-link' %>
            <% end %>
            <li>
            </ul>
          </div>
        </div>
      </nav>
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    <%= yield %>
  </body>
</html>
